
body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

header{
  grid-column: 1/13;
  width: 100%;
  background-color: #AAE0FF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
  padding: 0 0 0 0;
  grid-column: 2/3;
}

.listcontainer{
  grid-column: 8/12;
  width: 100%;
  padding: 0 20px 0 0;
}

.headerList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.button1{
  background-color: #FDDF42;
  border-radius: 15px;
  width: 150px;
  height: 60px;
}
.button1 button{
  background-color: #FDDF42;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, serif;
}
.button2{
  background-color: #198DCE;
  border-radius: 15px;
  width: 150px;
  height: 60px;
}
.button2 button{
  background-color: #198DCE;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, serif;
}
.button1 :hover{
  background-color: #705E00;
  color: #ffffff;
}
.button2 :hover{
  background-color: #C5EAFF;
  color: #000000;
  border: black 1px solid;
}

/*content container setting*/
.contentL{
  
  grid-column: 2/12;
  background-color: #27526499;
  font-family: Arial;
  color: white;
  margin: 5%;
  height: 700px;
  border-radius: 15px;
}

/*about us title setting*/
.about{
  position: relative;
  font-size: 30px;
  left: 40%;
  top: 8%;
  white-space:nowrap;
  width: fit-content;
}

/*map setting*/
#map{
  position: relative;
  width: 70%;
  border-radius: 15px;
}

/*about us content setting*/
.content{
  position: relative;
  font-size: 20px;
  top: 10%;
  left: 19%;
  width: 88%;
}

.backbutton{
  position: relative;
  left: 10%;
  top: -1%;
}
.backbutton img{
  width: 50px;
}