*{
	margin: 0;
	font-family: Arial, serif;
	color: #ffffff;
	text-align: center;
}

body{
	background-image: url("../img/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/* Header */

header{
	align-items: center;
	background-color: #AAE0FF;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	display: grid;
	grid-column: 1/13;
	grid-template-columns: repeat(12, 1fr);
	justify-content: space-between;
}

.logo{
	padding: 0 0 0 20px;
	grid-column: 2/3;
}

.listcontainer{
	grid-column: 8/12;
	width: 100%;
	padding: 0 20px 0 0;
}

.headerList{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.button1{
	background-color: #FDDF42;
	border-radius: 15px;
	width: 150px;
	height: 60px;
}
.button1 button{
	background-color: #FDDF42;
	border-radius: 15px;
	border: none;
	width: 150px;
	height: 60px;
	font-size: 20px;
}
.button2{
	background-color: #198DCE;
	border-radius: 15px;
	width: 150px;
	height: 60px;
}
.button2 button{
	background-color: #198DCE;
	border-radius: 15px;
	border: none;
	color: #ffffff;
	width: 150px;
	height: 60px;
	font-size: 20px;
}
.button1 :hover{
	background-color: #705E00;
	color: #ffffff;
}
.button2 :hover{
	background-color: #C5EAFF;
	color: #000000;
	border: black 1px solid;
}

/* Main */

main {
	align-items: center;
	display: grid;
	grid-column: 1/13;
	grid-template-columns: repeat(12, 1fr);
	justify-content: space-between;
}

a {
	text-decoration: none;
}

main > img {
	grid-column: 2/12;
	margin: 10px;
	width: 100%;
}

main > p {
	background: rgba(91, 154, 189, 0.58);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	font-style: italic;
	margin: 10px;
	padding: 30px;
	position: absolute;
	top: 25%; left: 12%;
	width: 200px;
}

#pages-container {
	display: flex;
	grid-column: 2/12;
	align-items: center;
	justify-content: space-between;
}

.pages {
	background: #198DCE;
	box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.pages > p {
	padding: 10px;
	grid-column: 2/12;
}

.pages .hovertext {
	background: #000000;
	box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	padding: 87px;
	position: relative;
	top: -100px; left: 0px;
	width: 100%;

	/* Fade in hover - takes 1 second to go from 0% to 100% opac: */
	opacity: 0;
	transition: opacity 1s;
}

.pages:hover .hovertext {
	visibility: visible;
	opacity: .5;
}
