*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  grid-column: 1/13;
  width: 100%;
  background-color: #AAE0FF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
  padding: 0 0 0 20px;
  grid-column: 2/3;
}

.listcontainer{
  grid-column: 11/12;
  width: 100%;
  padding: 0 20px 0 0;
}

.headerList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.button1{
  background-color: #FDDF42;
  border-radius: 15px;
  width: 150px;
  height: 60px;
}
.button1 button{
  background-color: #FDDF42;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, serif;
}
.button1 :hover{
  background-color: #705E00;
  color: #ffffff;
}

/* Header ends here */

/* Main starts here */

.main{
  margin: 50px 0 50px 0;
  padding: 60px 0 60px 0;
  grid-column: 2/12;
  width: 100%;
  background: rgba(39, 82, 100, 0.6);
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
  justify-content: center;
}
.profileButton{
  background: #198DCE;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Arial', serif;
  color: #ffffff;
  font-size: 45px;

}
.eventsButton{
  background: #198DCE;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 260px;
  width: 42.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Arial', serif;
  color: #ffffff;
  font-size: 45px;
}
.scoresButton{
  background: #198DCE;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 260px;
  width: 42.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Arial', serif;
  color: #ffffff;
  font-size: 45px;
}
.hideContainer{
  position:absolute;
  background: #484848;
  border-radius: 20px;
  width: 50%;
  height: 580px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
  padding: 60px 0 60px 0;
}
.hideContainer h2{
  font-family: 'Arial', serif;
  font-size: 30px;
  color: #FFFFFF;
}
.students{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.students h2{
  margin-top: 30px;
}
.firstStudent{
  background: #7E7E7E;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 50px 30px 50px 30px;
}
.secondStudent{
  background: #7E7E7E;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  padding: 50px 30px 50px 30px;
}
