*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  grid-column: 1/13;
  width: 100%;
  background-color: #AAE0FF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
  padding: 0 0 0 20px;
  grid-column: 2/3;
}

.listcontainer{
  grid-column: 11/12;
  width: 100%;
  padding: 0 20px 0 0;
}

.headerList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.button1{
  background-color: #FDDF42;
  border-radius: 15px;
  width: 150px;
  height: 60px;
}
.button1 button{
  background-color: #FDDF42;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, serif;
}
.button1 :hover{
  background-color: #705E00;
  color: #ffffff;
}

/*Header ends here*/

/*Main starts here*/

.main{
  margin: 50px 0 50px 0;
  padding: 60px 0 60px 0;
  grid-column: 2/12;
  width: 100%;
  background: rgba(39, 82, 100, 0.6);
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
  justify-content: center;
}
.mainHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.mainHeader h1{
  color: #ffffff;
  font-family: 'Arial', serif;
  font-size: 45px;
}
.button3{
  background-color: #FDDF42;
  border-radius: 15px;
  width: 150px;
  height: 60px;
}
.button3 button{
  background-color: #FDDF42;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Arial, serif;
}
.button3 :hover{
  background-color: #705E00;
  color: #ffffff;
}
.mainTable{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table{
  background: rgba(39, 82, 100, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  border-collapse:collapse;
  width: 80%;
  height: 500px;
  text-align: center;
  color: #ffffff;
  font-family: 'Arial', serif;
  font-size: 25px;
}
.table th{
  border-right:1px solid black;
  border-top: none;
  height: 100px;
}
.table :last-child{
  border-right: none;
}
.table td{
  border:1px solid black;
  border-left: none;
  border-bottom: none;
  height: 100px;
}

/*Buttons*/

.buttonContact{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-top: 80px;
  margin-left: 20px;
}

.buttonContact button{
  width: 104px;
  height: 40px;
  border: none;

  background: rgba(39, 82, 100, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  margin-top: 20px;
}
.buttonContact button a{
  text-decoration: none;
  color: #ffffff;
}
.buttonAbsences {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-top: 80px;
  margin-left: 20px;
}
.buttonAbsences button{
  width: 104px;
  height: 40px;
  border: none;
  color: #ffffff;
  background: rgba(39, 82, 100, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  margin-top: 20px;
}
.buttonAbsences button a{
  text-decoration: none;
  color: #ffffff;
}





